/* General styles */
body {
    font-family: 'Lato', sans-serif; /* Use Lato font */
    background-color: #fff; /* Simple white background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh; /* Ensure full screen height */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin: 0; /* Remove default margin */
}

h2 {
    margin-top: 10px; /* Add a small margin to separate from h1 */
}

.links {
    margin: 80px 0; /* Add margin to separate links from other elements */
    display: flex; /* Use flexbox for horizontal alignment */
    gap: 100px; /* Space between links */
}

/* Button-style links */
.links a {
    padding: 10px 20px;
    background-color: #c6626c; /* Custom background color */
    color: #fff; /* White text */
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover, .links a:active {
    background-color: #c58c92; /* Custom color on hover and active */
}

/* Simple link style */
.simple-link {
    color: #c6626c; /* Custom color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s;
}

.simple-link:hover, .simple-link:active {
    color: #c58c92; /* Custom color on hover and active */
}

#p5-container {
    margin-top: 20px; /* Add margin to separate from the links */
    height: 300px; /* Set the height to make it a square */
    border: none; /* Optional: Add a border for visibility */
    background: none;
}
