body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8d5d5;
}

.title-container {
    width: 100%;
    max-width: 1400px;
    text-align: center;
    margin: 20px 0;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.intro-container {
    width: 80%; 
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto 20px auto; 
}

.intro-container p {
    font-size: 20px;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 20px;
}

.graph-container {
    flex: 3;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}

.details-container {
    flex: 2;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    margin-left: 20px;
}

.legend-container {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    margin-right: 20px;
}

#text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.legend-item:hover {
    background-color: #f0f0f0;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


